/**
google search
 */
.pac-container {
    width: 358px !important;
    left: 455px !important;
    top: 163px !important;
}

.pac-item {
    background: #fff;
    padding: 14px;
    width: 302px;
}

.CK-main-nav {
    position: relative;
    z-index: 999;
    color: #fff;
}

/**
* Home page menu link css
 */
.CK-main-nav.home-nav.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 700;
}

.CK-main-nav.home-nav.navbar-light .navbar-nav .nav-link:hover,
.CK-main-nav.home-nav.navbar-light .navbar-nav .nav-link:focus {
    color: #fff !important;
    font-weight: 700;
}

/**
inner pages menu link css
 */
.CK-main-nav.navbar-light .navbar-nav .nav-link {
    color: rgb(125 122 122 / 90%);
    font-weight: 700;
}

.CK-main-nav.navbar-light .navbar-nav .nav-link:hover,
.CK-main-nav.navbar-light .navbar-nav .nav-link:focus {
    color: rgb(125 122 122 / 90%);
    font-weight: 700;
}

div.front-banner {
    background-image: url('/images/banner.jpeg');
    margin-top: -52px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 9rem;
}

/*div.front-banner:after {*/
/*    content: "";*/
/*    background: rgba(0,0,0,.35);*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*}*/
.CKHM-srch {
    background: #fff;
    width: 604px;
    margin: 0 auto;
}

.CKHM-srch input:first-child {
    width: 272px;
}

.CKHM-srch input:after {
    content: '';
    position: absolute;
    height: 11px;

}

.CKHM-srch input {
    padding: 12px 2px 12px 14px;
    margin: 0;
    border: none;
    width: 270px;
}


.CKHM-srch form {
    width: 100%;
    max-width: 790px;
    margin-bottom: 0;
    margin: 0 auto;
}

.CKHM-srch form .inner-form {
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.CKHM-srch form .inner-form .input-field {
    height: 68px;
}

.CKHM-srch form .inner-form .input-field input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px;
    font-size: 16px;
    color: #555;
}

.CKHM-srch form .inner-form .input-field input.placeholder {
    color: #888;
    font-size: 16px;
}

.CKHM-srch form .inner-form .input-field input:-moz-placeholder {
    color: #888;
    font-size: 16px;
}

.CKHM-srch form .inner-form .input-field input::-webkit-input-placeholder {
    color: #888;
    font-size: 16px;
}

.CKHM-srch form .inner-form .input-field input:hover, .CKHM-srch form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
    border-color: #fff;
}

.CKHM-srch form .inner-form .input-field.first-wrap {
    width: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.CKHM-srch form .inner-form .input-field.first-wrap .choices__inner {
    background: transparent;
    border-radius: 0;
    border: 0;
    height: 100%;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 30px;
}

.CKHM-srch form .inner-form .input-field.first-wrap .choices__inner .choices__list.choices__list--single {
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.CKHM-srch form .inner-form .input-field.first-wrap .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    opacity: 1;
    color: #888;
}

.CKHM-srch form .inner-form .input-field.first-wrap .choices__inner .choices__list--single .choices__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    color: #555;
}

.CKHM-srch form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
    right: 30px;
    border-color: #e5e5e5 transparent transparent transparent;
}

.CKHM-srch form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown {
    border: 0;
    background: #fff;
    padding: 20px 30px;
    margin-top: 2px;
    border-radius: 4px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.CKHM-srch form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
}

.CKHM-srch form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: #fff;
    color: #63c76a;
}

.CKHM-srch form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item {
    color: #555;
    min-height: 24px;
}

.CKHM-srch form .inner-form .input-field.second-wrap {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.CKHM-srch form .inner-form .input-field.third-wrap {
    width: 74px;
}

.CKHM-srch form .inner-form .input-field.third-wrap .btn-search {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    color: #fff;
    border: 0;
    cursor: pointer;
    background: #63c76a;
    transition: all .2s ease-out, color .2s ease-out;
}

.CKHM-srch form .inner-form .input-field.third-wrap .btn-search svg {
    width: 16px;
}

.CKHM-srch form .inner-form .input-field.third-wrap .btn-search:hover {
    background: #50c058;
}

.CKHM-srch form .inner-form .input-field.third-wrap .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

.CKLST-submeta i, .rating-system i {
    color: chocolate;
}

.card.CKRW-item {
    margin: 12px;
    box-shadow: 0px 6px 9px 4px #ccc;
    background: transparent;
}

.card.CKRW-item .mad-entity-media {

}

section.apk-banner {
    background: url('/images/apk-banner.png');
    width: 100%;
    background-size: cover;
    height: 420px;
}

section .CKHM-areas {
    display: inline-block;
    width: 100%;
}

section .CKHM-areas a.inline-list {
    display: inline-block;
    text-align: left;
    text-decoration: none;
    color: rgb(130, 130, 130);
    margin-bottom: 0.2rem;
    width: 20%;
    font-size: 1rem;
    line-height: 1.8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}

h2.CK-center-title {
    position: relative;
    text-align: center;
}

h2.CK-center-title:after {
    left: 0 !important;
    margin: 0 auto !important;
    content: '';
    position: absolute;
    background: orange;
    height: 2px;
    width: 115px;
    right: 0;
    bottom: -2px;
}

div.section-title h2:after {
    content: '';
    position: absolute;
    background: orange;
    height: 2px;
    width: 115px;
    left: 14px;
    right: 0;
    bottom: -2px;
}

div.section-title {
    margin-top: 66px !important;
}

div.CKSV-main .card .mad-entity-media {
    width: 415px;
}

div.CKSV-main .card .mad-entity-media img {
    width: 100%;
}

div.CKSV-main .card {
    max-width: 417px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1327px;
    }
}


/**
Search component css
 */
.cndLHu > :last-child {
    margin-right: 0px;
}

.CKHM-srchmain {
    width: 64%;
    position: relative;
    top: 20px;
    bottom: 20px;
    left: 47%;
    transform: translate(-50%, 0.8rem);
}

.CKHM-srch-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 4.4rem;
    background: rgb(255, 255, 255);
    border-radius: 0.8rem;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    border: 1px solid rgb(232, 232, 232);
}

.CKHM-srch-wrapper .wrapper-inner {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 100%;
    width: 24rem;
    border-radius: 0.8rem;
    padding: 0px 1rem;
    -webkit-box-align: center;
    align-items: center;
}

.MxLSp {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: inherit;
}

.kIxlGM {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 20px;
    height: 20px;
}

.search-input:focus {
    outline: none;
    border: none;
}

.search-input {
    border: none;
    outline: none;
    font-size: 1.4rem;
    margin: 0px 1rem 0px 0.5rem;
}

.gbglTO {
    transform: rotate(0deg);
    transition: transform 0.25s ease-in-out 0s;
    cursor: pointer;
}

.MxLSp {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: inherit;
}

.eiPvfz {
    width: 36rem;
    max-height: 45rem;
    background: white;
    border-radius: 0.8rem;
    position: absolute;
    left: 0px;
    overflow: auto;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    top: 3rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s ease 0s, top 0.25s ease 0s;
    z-index: 10;
}

.ioKzAG {
    cursor: pointer;
    background: rgb(255, 255, 255);
    box-shadow: rgb(232, 232, 232) 0px -0.5px 0px inset;
    padding: 1.8rem 1.8rem 1.8rem 1.5rem;
}

.dtzfDv {
    width: 0rem;
    height: 2rem;
    border: 0.05rem solid rgb(207, 207, 207);
}

.kKwxbz {
    display: flex;
    font-weight: 500;
    -webkit-box-align: center;
    align-items: center;
}

.grqoos {
    width: 3rem;
}

.MxLSp {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: inherit;
}

.kSdOga {
    font-size: inherit;
    line-height: 1.5;
    margin: 0px;
    color: rgb(237, 90, 107);
}

.ckBgCS {
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: 10;
}

@media (min-width: 481px) {
    .dPcESM {
        border-radius: 0.8rem;
        width: 53rem;
        height: 100%;
        display: flex;
        position: relative;
    }

    .ckBgCS {
        max-height: 60rem;
        border-radius: 0.8rem;
        position: absolute;
        overflow: auto;
        top: 3rem;
        visibility: hidden;
        opacity: 0;
        border: 1px solid rgb(207, 207, 207);
        box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
        transition: opacity 0.25s ease 0s, top 0.25s ease 0s;
        padding: 1.6rem 0px;
    }
}

.lbMFPq {
    border: none;
    font-size: 1.4rem;
    width: 100%;
    padding-left: 1.5rem;
    border-radius: 0.8rem;
}

.hjtbhk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 6rem;
    margin: -1px -1.5px -1px -1px;
}

/*
Footer css start here
 */

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}


.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;

    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

    .main {
        line-height: normal;
        font-size: auto;
    }

}

/*
End footer css
 */

/*
Bootstrap modal enhancement
 */
.modal-header {
    position: relative;
}

.modal-header .close {
    border-radius: 100%;
    background: #060606;
    height: 41px;
    padding: 0.5rem 1rem;
    position: absolute;
    color: #fff;
    top: -10px;
    right: -17px;
    margin: 0;
    opacity: 1;
}

.CK-vendor-single .card .card-header {
    background-color: rgb(166 31 31 / 75%);
    color: #fff;
}

.CK-vendor-single .inner-row {
    margin-top: 15px;
    font-weight: bold;
}

.CK-vendor-single .vue-star-rating {
    display: block !important;
}

ul.box-items {
    margin-left: -34px !important;
}

ul.box-items li {
    position: relative;
    display: inline-block;
    padding: .5rem;
    line-height: 1;
}

ul.box-items li:not(:last-of-type):after{
    position: absolute;
    content: "";
    right: 0;
    width: 1px;
    margin-left: -.5px;
    background: #6c757d !important;
    top: 0.33rem;
    bottom: .55rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {

    .CK-vendor-single .card {
        text-align: center;
    }
}

@media (min-width: 300px) {
    .CK-vendor-single .card {
        width: 300px;
        margin: auto;
        box-shadow: rgb(204, 204, 204) 2px 2px 23px 11px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 524px) {
    .CK-vendor-single .card {
        width: 500px;
        margin: auto;
        box-shadow: rgb(204, 204, 204) 2px 2px 23px 11px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .CK-vendor-single .card {
        width: 800px;
        margin: auto;
        box-shadow: rgb(204, 204, 204) 2px 2px 23px 11px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .CK-vendor-single .card {
        width: 800px;
        margin: auto;
        box-shadow: rgb(204, 204, 204) 2px 2px 23px 11px;
    }
}
